html {
	background: darkslategray;

}

main {
	color: antiquewhite;
	text-decoration-color: darkgrey;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	width: auto;
}

h1 {
	background-color: aliceblue;
	text-align: center;

}