html {
	background: #F8F8F8;
	width: 100%;
	height: 100%;
	margin-block: 2em;
}

main {
	color: darkgrey;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	width: auto;
}

h1, h2, h3 {
	color:#C5BCAB;
	text-align: center;

}

.title {
	color: #C5BCAB;
    text-align: center;
    font-style: normal;
    font-size: 25px;
    font-family: 'Open Sans', Calibri,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-weight: bold;
    padding: 10px 0 0;
}

.menudesc {
    overflow: hidden;
    padding: 10px;
    margin: 5px;
    line-height: 1em;
    font-style: normal;
    font-size: 9px;
    font-family: 'Hind', Calibri,sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 0px;
}
		/* not sure if i need this.....?
		.container {
			padding: 10px;
			margin: 5px;
		}

		.posts {
			width: 540px;
			padding: 25px;
			margin: 25px;
			overflow: hidden;
			margin-bottom: 90px;
			letter-spacing: 0px;
			word-spacing: 0px;
			background-color: #FFFFFF;
			text-align: justify;
		}
		*/


img {
	position: inherit;
	width: 20em;
	max-width: 33%;
}


.column {
	max-width: 20em;
	max-height: 20em;
	float: right;
	overflow: hidden;

}

.header {
	text-align: center;
	font-size: 20pt;
	text-align: center;
    color: rgb(192, 160, 99);
}

.educationpara {
	text-align: left;
	left: 5em;
	position: relative;
}